<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/navbar.html :: header( title = 'Empleados')"></head>
    <body>
        <div class="container">
            <nav th:replace="fragments/navbar.html :: navbar( active = 'Employee')"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Editar Empleado</h2>
                    <hr/>
                    <form th:action="@{'/employee/save'}" method="post" th:object="${employees}">
                        <input th:field="*{employeeId}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{firstName}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{lastName}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo Electrónico</label>
                            <input type="text" class="form-control" th:field="*{email}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Sueldo</label>
                            <input type="number" class="form-control" th:field="*{salary}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control" th:field="*{password}"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Jefe</label>
                            <select class="form-select" name="manager" id="manager">
                                <option th:each="jefe : ${listaJefes}"
                                        th:selected="${employees.manager != null and (jefe.employeeId == employees.manager.employeeId)}"
                                        th:text="|${jefe.firstName} ${jefe.lastName==null?'':jefe.lastName}|"
                                        th:value="${jefe.employeeId}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Cargo</label>
                            <select class="form-select" name="job" id="job">
                                <option th:each="job : ${listaJobs}"
                                        th:text="${job.jobtitle} "
                                        th:value="${job.jobid}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Departamento</label>
                            <select class="form-select" name="department" id="department">
                                <option th:each="department : ${listaDepartments}"
                                        th:text="${department.departmentname} "
                                        th:value="${department.id}"></option>
                            </select>
                        </div>

                        <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="fragments/navbar.html :: footer-bootstrap"></script>
    </body>
</html>